.card-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    &__exit-button {
        color: white;
        font-size: 30px;
        display: none;
        &_displayed {
            display: inline-block;
            position: fixed;
            right: 10px;
            top: 10px;
            &:hover {
                color: black;
            }
            @media (max-width: 320px) {
                color: black;
            }
        }
    }
    &__card {
        margin: 10px 0;
    }
    &__preloader {
        min-height: 10px;
    }
    &_extra-list{
        width: 800px;
        height: 85vh;
        padding: 20px;
        @media (max-width: 820px) {
            width: 98vw;
            height: 85vh;
            padding: 10px;
        }
        @media (max-width: 450px) {
            height: 100vh;
        }
    }
    &_theme {
        &_fav-list {
            background: #dddddd;
            border-radius: 10px;
            border: 10px gold solid;
        }
        &_ban-list {
            background: #dddddd;
            border-radius: 10px;
            border: 10px black solid;           
        }
    }
}
