$backgroundColor: #1F2667;
$textColor: white;

.menu {
    display: flex;
    background: $backgroundColor;
    color: $textColor;
    align-items: stretch;
    justify-content: space-around;
    border-radius: 0 0 20px 20px;
    padding: 10px;
    box-shadow:black 0px 2px 4px;
    &__buttons {
        display: flex;
        flex-wrap: wrap;
        font-size: 20px;
        @media (max-width: 570px) {
            font-size: 3.5vw;
        }
        @media (max-width: 475px) {
            font-size: 16px;
        }
    }
    &__title {
        padding: 0 10px;
        font-size: 24px;
        @media (max-width: 570px) {
            font-size: 4.3vw;
        }
        @media (max-width: 490px) {
            font-size: 20px;
        }
    }
    &__favorite {
        &:hover {
            color: gold;
        }
    }
    &__banned {
        &:hover {
            color: darkgrey;
        }
    }
}
